body{
    margin: 0px;
    padding: 0px;
    background-image: url('../images/low-poly-grid-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1,h2,h3,h4,ul,li{
    padding: 0px;
    margin: 0px;
}

img{
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.container{
    /* background-color: rgb(143, 160, 95); */
    height: 650px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 90;
  pointer-events: none;
  cursor: pointer;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#tag_ops{
  width: 45%;
  height: 70%;
  background-color: white;
  position: absolute;
  z-index: 102;
  top: 10%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 0.8;
  display: none;
}

.left-side{   
    background-color: transparent;
    height: 100%;
    width: 20%;
    margin: 5px;
    border-right: 2px solid deepskyblue;
}

.right-side{    
    background-color: gray;
    height: 100%;
    width: 80%;
}

.left-side-head{
    width:100%;   
    padding: 5%;
}

#left-side-divider{
    margin-top: 10px;
    /* margin-bottom: 10px; */
    height: 3px;
    width: 90%;
    background-color: deepskyblue;
    border-radius: 20px;
}

.left-greet {   
    /* background-color: chartreuse; */
    border: 1px solid chartreuse;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

.left-greet > p:nth-child(1) {
    font-size: 10px;
    margin: 2px;
    background-color: deepskyblue;
    padding-left: 5px;
    border-radius: 10px;
    font-weight: bolder;
    color: 00101c;
    font-size: 7px;
}

.left-greet > p:nth-child(2) {
    font-size: 12px;
    margin: 2px;
    background-color: chartreuse;
    padding: 1px;
    border-radius: 10px;
    color: black;
}

.left-side-body{
    margin-top: 20px;
    width: 90%;
    height: 50%;
    /* background-color: dimgrey; */
    transition: 1s;
}

.left-side-body > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140px;
    height: 30px;
}

#btn_dash{
    display: block;
    /* background-color: deepskyblue; */
    border:2px solid deepskyblue;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#btn_dash > h4 {
    width: 90%;
    color: chartreuse;    
}

#btn_dash > i {
    width: 10%;
    font-size: 15px;
    color: deepskyblue;    
}

#dash_container{
    width: 100%;
    /* height: 80%; */
    /* background-color: cyan; */
    margin-top: 5px;
    border:2px solid deepskyblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.2s;
    padding-top: 1%;
}

.toolBox{
    height: 5vh;
    width: 90%;
    background-color: #15384f;
    margin: 1px 3px;
    color: chartreuse;
    cursor: pointer;
    border-radius: 5px;
}

.toolBox > i {
    margin-left: 5px;
}

.toolBox1-body{
    width: 87%;
    height: 90px;
    border-left: 1px solid deepskyblue;
    border-right: 1px solid deepskyblue;
    border-bottom: 1px solid deepskyblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;
    display: none;
}

.toolBox1-body > ul{
    list-style: none;
    font-size: 10px;
    width: 90%;
    margin: auto;
}

.toolBox1-body > ul > li{
    padding: 5px;
    background-color:deepskyblue;
    margin: 2px auto;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #15384f;
    cursor: pointer;
    transition: 0.8s;
}

.toolBox1-body > ul > li:active{
    transition: 0.7s;
   background: linear-gradient(to left,deepskyblue,chartreuse);
}


#btn_dash:active{
    background-color: cornflowerblue;
}

.right-side{
    background-color: transparent;
}

.right-side-item{
    height: 5%;
    width: 100%;
    position: relative;
    /* background-color: chocolate; */
}

.right-side-item-search-box{
    height: 4vh;
    width: 30%;
    position: relative;
    border: 2px solid chartreuse;
    border-radius: 15px;
    margin-top: 5px;
}

.right-side-item-search-box > i{
    position: absolute;
    left: 5px;
    top: 7px;
    color: chartreuse;
}

.right-side-item-search-box > input[type=text]{
    height: 4vh;
    width: 75%;
    background-color: transparent;
    position: absolute;
    left: 20px;
    font-size: 12px;
    color: chartreuse;
    font-weight: normal;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: none;
}

.right-side-item-search-box >  input[type=text]:active{
    border: none;
}

.right-side-item-search-box > input[type=text]:focus{
    outline: none;
    border-bottom-style: none;
}

.right-side-item-search-box > input[type=text]::placeholder{
    color: chartreuse;
}

.right-side-item-bottom{
    height: 95%;
    width: 100%;
    position: relative;
    /* background-color: chocolate; */
}

#right-side-divider{   
    /* margin-bottom: 10px; */
    height: 2px;
    width: 100%;
    background-color: deepskyblue;
    border-radius: 20px;
}

.card{
    width: 35%;
    height: 40%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    /* box-shadow: 1px 1px 4px ; */
    border-radius: 5px;
    cursor: crosshair;
    position: absolute;
    z-index: 10;
    left: 5px;
    bottom: 10px;
}

.card-header{
    margin: auto;
    width: 100%;
    height: 15%;
    background-color: transparent; 
    box-shadow: 1px 1px 7px ;  
}

.card-body{
    margin: auto;
    width: 100%;
    height: 82%;
    background-color: transparent; 
    /* box-shadow: 1px 1px 7px ;   */
    margin-top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body-head{
    margin: auto;
    width: 100%;
    height: 15%;
    background-color: chartreuse; 
    box-shadow: 1px 1px 7px ; 
}

.card-body-body{
    margin: auto;
    width: 100%;
    height: 75%;
    background-color: transparent; 
    margin-top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 70px;
    color: chartreuse;
}


.card-body-left{
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: transparent; 
    box-shadow: 1px 1px 7px ;  
    /* margin-top: 5px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body-right{
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: transparent; 
    box-shadow: 1px 1px 7px ;  
    /* margin-top: 5px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table-wrapper{
  height: 95%;
  max-height: 95%; 
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;

  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}

table {
    width: 80%;
    transition: 1s;
    max-height: 400px;    
  }
  table,
  th,
  td {
    border: 1px solid transparent;
  }
  thead {   
    color: #064272;
    border: none;
    height: 80px;
  }
  th {
    text-align: center;
    height: 15px;
    color: #064272;
    border: none;
  }
  thead > tr {
    height: 30px;   
    color: #064272;
    background: chartreuse;
    font-size: 12px;
  }
  
  tbody{
    cursor: pointer;
    text-align: center;
    background: transparent;
    color: white;
    transition: 0.9s;
  }
  tbody > tr{
      margin: 10px;
      color: #064272;      
  }
  .tr-step-in{
    animation-name: tr-step-in;
    animation-iteration-count: 1;
    animation-duration: 2s;
    transition: ease-out;   
  }
  .tr-step-out{
    animation-name: tr-step-out;
    animation-iteration-count: 1;
    animation-duration: 2s;
    transition: ease-out;   
  }
  tbody tr:nth-child(odd) {
    color: deepskyblue;

  }
  tbody tr:nth-child(even) {
    color: deepskyblue;
  }
  tbody tr:nth-child(odd):hover {    
    transition: 0.9s;
    color: white;
    background: rgba(255, 140, 0, 0.719);
  }
  tbody tr:nth-child(even):hover {  
    color: white;  
    transition: 0.9s;
    background: rgba(255, 140, 0, 0.719);
    /* pointer-events: none; */
  }

  td {
    /* border: 1px solid transparent; */
    border-radius: 5px;
    font-size: 15px;
  }

  .flip-card {
    width: 14%;
    height: 32%;
    perspective: 1000px;
    box-shadow: 1px 1px 5px deepskyblue;
    margin: 5px 5px;
    border-radius: 10px;
    transition: 0.7s;
    /* background-color: cornsilk; */
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;    
    border-radius: 10px;
    background-color: cyan;
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }

  .flip-card-front {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border-radius: 5px;
  }
  
  .flip-card-front > .containment {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(255, 166, 0, 0);
    border-radius: 5px;
   background-color: #faa23d;
   /* background-color: #ff3300; */
  }

  .containment{
    position: relative;
  }

  .containment > .ico_rims  {
    position: absolute;
    bottom: 5px;
    left: 5px;
   }
 
   .containment >  i.dlt-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.2em;
    color: rgba(255, 8, 8, 0.849);
    cursor: pointer;
  }

  .containment > .ico_rims i:hover {
    color: rgb(247, 247, 247);
    cursor: pointer;
  }

  
  .flip-card-back {
    background-color: #f715ab;
    color: white;
    transform: rotateY(180deg);
  }

  .containment_back >  i.view-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 1.2em;
    color: rgba(255, 8, 8, 0.849);
    cursor: pointer;
  }

  .containment_back > i.dlt-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.2em;
    color: rgba(255, 8, 8, 0.849);
    cursor: pointer;
  }

  .containment_back > i:hover {
    color: tomato;
    cursor: pointer;
  }
