/* width */
::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: deepskyblue;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: chartreuse;
    height: 10px;
    border-radius: 5px; cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }