.ok{
    width: 35%;
    height: 25%;
    background-color: crimson;
}

#tag_ops{
    width: 45%;
    height: 70%;
    background-color: white;
    position: absolute;
    z-index: 102;
    top: 10%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /* background-image: url('../images/action2.svg'); */
    opacity: 0.8;
}